/*1. Blue #113157
2. Green #238053
3. Grey #c3baba
4. White #FFFFFF
5. Black #000000
*/

@font-face {
    font-family: Antonio_Light;
    /*src: url(url_for('static', filename='fonts/Antonio-Light.ttf'));*/
    src : url(../fonts/Antonio-Light.ttf);
}

@font-face {
    font-family: Antonio_Regular;
    /*src: url(url_for('static', filename='fonts/Antonio-Light.ttf'));*/
    src : url(../fonts/Antonio-Regular.ttf);
}

body {
	background-color: #c3baba;
	padding: 0px;
}

.left {
	background-color: #113157;
	width: 20%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	color: #FFFFFF;
}

.top {
	background-color: #238053;
	width: 80%;
	height: 10%;
	position: fixed;
	top: 0px;
	left: 20%;
}

.logo {
	margin-left: 5%;
	margin-top: 5%;
	width: 20%;
}

.heading {
	/*margin-top: 10%;*/
	/*line-height: 50pt;*/
	/*padding-top: 50%;*/
	position: fixed;
	top:10px;
	margin-left: 2%;
	font-size: 30pt;
	font-family: Antonio_Light;
}