/*1. Blue #113157
2. Green #238053
3. Grey #c3baba
4. White #FFFFFF
5. Black #000000
*/

@font-face {
    font-family: Antonio_Light;
    /*src: url(url_for('static', filename='fonts/Antonio-Light.ttf'));*/
    src : url(../fonts/Antonio-Light.ttf);
}

@font-face {
    font-family: Antonio_Regular;
    /*src: url(url_for('static', filename='fonts/Antonio-Light.ttf'));*/
    src : url(../fonts/Antonio-Regular.ttf);
}

body {
	background-color: #EEEEEE;
	padding: 0px;
}

.left {
	background-color: #113157;
	width: 20%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	color: #FFFFFF;
}

.top {
	background-color: #238053;
	width: 80%;
	height: 11%;
	position: fixed;
	top: 0px;
	left: 20%;
	color: #FFFFFF;
}

.logo {
	margin-left: 5%;
	margin-top: 5%;
	width: 20%;
}

.heading {
	position: fixed;
	top:10px;
	margin-left: 2%;
	font-size: 30pt;
	font-family: Antonio_Light;
}

.name h3 {
	position: fixed;
	top:15%;
	margin-left: 8%;
	font-size: 15pt;
	line-height: 12pt;
	font-family: Arial;
}

.name {
	margin-bottom: 10%;
	/*padding-bottom: 15%;*/
}

.photo {
	margin-left: 5%;
	margin-top: 2%;
	width: 20%;
}

.tabs-active{
	background-color: #163246;
}

.tabs{
	padding-top: 5%;
	height: 8%;
	/*margin-top: 15%;*/
}

.tab_icon {
	/*position: fixed;*/
	margin-left: 6%;
	margin-top: 0%;
	width: 11%;
}

.tab_label{
	/*position: fixed;*/
	position: relative;
	margin-top:10%;
	line-height: 20pt;
	margin-left: 6%;
	font-size: 15pt;
	font-family: Arial;
}

.welcome {
	margin-top: 1%;
	margin-left: 2%;
}

.welcome1 {
	font-size: 15pt;
}

.welcome2 {
	font-size: 12pt;
}

.settings {
	border-style: solid;
	border-width: 1px;
	border-radius: 13px;
	border-color: #FFFFFF;
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	position: fixed;
	top : 3%;
	right: 12%;
	left: 80%;
	font-family: Antonio_Regular;
}

.logout {
	border-style: solid;
	border-width: 1px;
	border-radius: 13px;
	border-color: #FFFFFF;
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	position: fixed;
	top : 3%;
	right: 2%;
	left: 90%;
	font-family: Antonio_Regular;
}

.btn_icon {
	/*position: fixed;*/
	margin-left: 5%;
	margin-right: 5%;
	/*margin-top: 0%;*/
	width: 20%;
}

.main {
	position: fixed;
	top: 15%;
	left: 22%;
}

#search {
	min-width: 900px;
}

#searchbtn {
	min-width: 120px;
}