{% extends 'layout.html' %}

{% block body %}

<div class="left">
	<img src="{{ url_for('static', filename='imgs/logo.png') }}" class="logo"> <text class="heading">IIT &nbsp;DOST</text>
	<hr width="90%">

	<img src="{{ url_for('static', filename='imgs/placeholder.png') }}" alt="Avatar" class="photo"> 
	<div class="name">
		<h3>
		Ajay Kumar<br>
		<small>Assistant Registrar<br>
		P. G. Section</small>
		</h3>
	</div>

	<div class="tabs tabs-active">
		<div class="green_box">
			
		</div>
		<img src="{{ url_for('static', filename='imgs/placeholder.png') }}" alt="Avatar" class="tab_icon"> 
		<text class="tab_label">Home</text>
	</div>

	<div class="tabs">
		<img src="{{ url_for('static', filename='imgs/placeholder.png') }}" alt="Avatar" class="tab_icon"> 
		<text class="tab_label">Notifications</text>
	</div>

	<div class="tabs">
		<img src="{{ url_for('static', filename='imgs/placeholder.png') }}" alt="Avatar" class="tab_icon"> 
		<text class="tab_label">My Calender</text>
	</div>

	<div class="tabs">
		<img src="{{ url_for('static', filename='imgs/placeholder.png') }}" alt="Avatar" class="tab_icon"> 
		<text class="tab_label">Work Status</text>
	</div>

	<div class="tabs">
		<img src="{{ url_for('static', filename='imgs/placeholder.png') }}" alt="Avatar" class="tab_icon"> 
		<text class="tab_label">News &amp; Events</text>
	</div>

	<div class="tabs">
		<img src="{{ url_for('static', filename='imgs/placeholder.png') }}" alt="Avatar" class="tab_icon"> 
		<text class="tab_label">My Profile</text>
	</div>

	<hr width="90%">

</div>

<div class="top">

	<div class="welcome">

		<text class="welcome1">Welcome Back to your Admin, Mr. Kumar!</text><br>
		<text class="welcome2">Last Login: 9:00 am, 06/03/2018</text>

		<a href="#" class="settings"><img src="{{ url_for('static', filename='imgs/placeholder.png') }}" alt="Avatar" class="btn_icon"> SETTINGS</a>

		<a href="#" class="logout"><img src="{{ url_for('static', filename='imgs/placeholder.png') }}" alt="Avatar" class="btn_icon"> LOG OUT</a>

	</div>

</div>

<div class="main">
	<div style="margin-bottom: 20px;">
		<input id="search" type="text" name="search" placeholder="Search"> 
		<button id="searchbtn" class="btn btn-primary"> Search </button>
	</div>

	<div style="float: left; overflow: hidden; width: 80%">
		
		<div class="cardview">
			<div class="card" style="float:left; overflow: hidden; width: 21%">
				<text class="card_no">23</text><br>
				<text class="card_text">NOTIFICATIONS</text>
			</div>
			<div class="card" style="float:left; overflow: hidden; width: 21%">
				<text class="card_no">15</text><br>
				<text class="card_text">DOCUMENT REQ.</text>
			</div>
			<div class="card" style="float:left; overflow: hidden; width: 21%">
				<text class="card_no">04</text><br>
				<text class="card_text">MEETING REQ.</text>
			</div>
			<div class="card" style="float:left; overflow: hidden; width: 21%">
				<text class="card_no">04</text><br>
				<text class="card_text">OTHER REQUESTS</text>
			</div>
		</div>

		<div>
			<div class="card" style="float: left; overflow: hidden; width: 44.5%; padding-top: 0px;">
				<h3 align="left">Work Overview</h3><br>
				<img src="{{ url_for('static', filename='imgs/placeholder.png') }}" alt="Avatar" class="btn_icon" style="width: 50%">
					<br>
					<center>
						<table border="0">
						<br>
							<tr>
								<td width="10%">&#9679;</td>
								<td>Document Requests</td>
							</tr>
							<tr>
								<td>&#9679;</td>
								<td>Meeting Requests</td>
							</tr>
							<tr>
								<td>&#9679;</td>
								<td>Other Works</td>
							</tr>
						</table>
					</center>
				
			</div>
			<div class="card" style="float: left; overflow: hidden; width: 44.5%; padding-top: 0px;">
				<h3 align="left">My Schedule Assiatance</h3>

				<hr width="80%">
					Meeting A
				<hr width="80%">
					Meeting B
				<hr width="80%">
					Meeting C
				<hr width="80%">
					Meeting D
				<hr width="80%">
				
			</div>
		</div>

	</div>

	<div style="float: left; overflow: hidden; width: 22%; margin-left: -40px; margin-right: -20px;">
		
	<div class="card" style="width: 90%; padding-top: 1px;">
		<h3 align="left">Notice Board</h3>
		<!-- <br> -->
		<h4 align="left" class="grey_text">April 7, Saturday will work as per Monday Time Table</h4>
		<!-- <br> -->
		<h4 align="left" class="grey_text">Staff Vehicle Stickers to be Updated by 15 April, 2018</h4>
	</div>

	<div class="card" style="width: 90%; padding-top: 1px;">
		<h3 align="left">Absent Today</h3>
		<br>
		<img src="{{ url_for('static', filename='imgs/placeholder.png') }}" alt="Avatar" style="width: 30%"> <br>
		<h4 class="grey_text">Mr. Ravi Dhawan</h4>
		<h5 class="grey_text">Reason: Sickness</h5>
	</div>

	</div>

</div>

{% endblock %}