{% extends 'layout.html' %}

{% block body %}

<div class="left">
	<img src="{{ url_for('static', filename='imgs/logo.png') }}" class="logo"> <text class="heading">IIT &nbsp;DOST</text>
	<hr width="90%">

	<img src="{{ url_for('static', filename='imgs/placeholder.png') }}" alt="Avatar" class="photo"> 
	<div class="name">
		<h3>
		Ajay Kumar<br>
		<small>Assistant Registrar<br>
		P. G. Section</small>
		</h3>
	</div>

	<div class="tabs tabs-active">
		<img src="{{ url_for('static', filename='imgs/placeholder.png') }}" alt="Avatar" class="tab_icon"> 
		<text class="tab_label">Home</text>
	</div>

	<div class="tabs">
		<img src="{{ url_for('static', filename='imgs/placeholder.png') }}" alt="Avatar" class="tab_icon"> 
		<text class="tab_label">Notifications</text>
	</div>

	<div class="tabs">
		<img src="{{ url_for('static', filename='imgs/placeholder.png') }}" alt="Avatar" class="tab_icon"> 
		<text class="tab_label">My Calender</text>
	</div>

	<div class="tabs">
		<img src="{{ url_for('static', filename='imgs/placeholder.png') }}" alt="Avatar" class="tab_icon"> 
		<text class="tab_label">Work Status</text>
	</div>

	<div class="tabs">
		<img src="{{ url_for('static', filename='imgs/placeholder.png') }}" alt="Avatar" class="tab_icon"> 
		<text class="tab_label">News &amp; Events</text>
	</div>

	<div class="tabs">
		<img src="{{ url_for('static', filename='imgs/placeholder.png') }}" alt="Avatar" class="tab_icon"> 
		<text class="tab_label">My Profile</text>
	</div>

	<hr width="90%">

</div>

<div class="top">
	
</div>

{% endblock %}